@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Oughter';
  src: url('/fonts/Oughter-Bold.woff2') format('woff2'),
       url('/fonts/Oughter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;